//- 显示问题到页面上
  问题 type 包含：
    text: 一行文本
    textarea: 多行文本
    radio: 单选
    multi: 多选
    check: 打勾
    email: 邮件
    url:   网址

mixin question(q)
  //- Add a * for required questions
  if q.required
   - q.topic += ' *' 
  case q.type
    when 'text'
      .form-group
        label.col-sm-4.control-label(for=q.name)= q.topic
          .help-block= q.help
        .col-sm-4
          input.form-control(id=q.name, name=q.name, type='text', placeholder='', required=q.required)

    when 'email'
      .form-group
        label.col-sm-4.control-label(for=q.name)= q.topic
          .help-block= q.help
        .col-sm-4
          input.form-control(id=q.name, name=q.name, type='email', placeholder='@', required=q.required)

    when 'url'
      .form-group
        label.col-sm-4.control-label(for=q.name)= q.topic
          .help-block= q.help
        .col-sm-4
          input.form-control(id=q.name, name=q.name, type='url', placeholder='http://', required=q.required)

    when 'textarea'
      .form-group
        label.col-sm-4.control-label(for=q.name)= q.topic
          .help-block= q.help
        .col-sm-8
          textarea.form-control(id=q.name, name=q.name, cols='50', rows='6', required=q.required)

    when 'radio'
      .form-group
        label.col-sm-4.control-label(for=q.name)= q.topic
        .col-sm-8
         each option in q.choices
          .radio
            label
              input(type='radio', name=q.name, value=option, required=q.required)
              = option

    when 'check'
      .form-group
        label.col-sm-4.control-label(for=q.name)= q.topic
        .col-sm-8
         each option,index in q.choices
          .checkbox
            label
              input(type='checkbox', name=q.name+'_'+index, value=option, required=(q.required))
              =option

    when 'multi'
      .form-group
        label.col-sm-4.control-label(for=q.name)= q.topic
        .col-sm-8
          select.form-control(multiple, required=q.required)
           each option in q.choices
            option= option

