extends modals/layout

block content
  //- req: request from user. need track post data.
  h1= title

  h3 Request params
  ul
    each v,i in params
      li= i + ":" + v

  h3 Request query
  ul
    each v,i in query
      li= i + ":" + v

  if typeof(body) != 'undefined' && body
    h3 Request body
    ul
      each v,i in body
        li= i + ":" + v

  if typeof(session) != 'undefined'
    h3 Request session
    ul
      each v,i in session
        li= i + ":" + v

  //-
    h3 Request route
    ul
      each v,i in route
        li= i + ":" + v

  //- h3 Request cookies
   ul
    each v,i in cookies
      li= i + ":" + v